<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- ############# 配置Http请求URL拦截的规则 ############### -->
    <!-- 配置哪些请求URL不需要拦截 -->
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/login.html" security="none"/>
    <security:http pattern="/verify" security="none"/>


    <security:http entry-point-ref="authenticationEntryPoint">
        <!--
            配置所有登录用户或未登录用户都能访问的请求地址
            permitAll: 会进Security的登录Filter，如果是登录用户，可以获取到登录用户名
         -->
        <security:intercept-url pattern="/user/login" access="permitAll()"/>
        <!-- 配置需要拦截的请求URL ROLE_* -->
        <security:intercept-url pattern="/**" access="hasRole('ADMIN')"/>
        <!-- 开启表单登录
            login-page: 登录页面
            login-processing-url: 登录处理的URL
            username-parameter: 用户名请求参数名称
            password-parameter: 密码请求参数名称
            authentication-success-forward-url : 登录成功后请求转发到哪个URL
            default-target-url="/admin/index.html" 登录成功后请求重定向到哪个URL
            always-use-default-target="true"

            authentication-failure-forward-url: 登录失败后请求转发到哪个URL
            authentication-failure-url: 登录失败后请求重定向到哪个URL

            <security:form-login login-page="/login.html"
                             login-processing-url="/login"
                             username-parameter="username"
                             password-parameter="password"

                             default-target-url="/admin/index.html"
                             always-use-default-target="true"

                             authentication-failure-url="/login.html"/>
         -->
        <!-- 关闭CSRF 跨站点请求伪造 -->
        <security:csrf disabled="true"/>

        <!-- 配置页面有iframe子窗口也可以访问 -->
        <security:headers>
            <!-- 配置访问iframe子窗口的策略 SAMEORIGIN: same origin 相同的域名可以访问 -->
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!-- 配置退出登录 -->
        <security:logout logout-url="/logout" invalidate-session="true"/>
    </security:http>


    <!-- 配置认证的入口(自已指定登录地址) -->
    <bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <!-- 配置认证处理请求地址 -->
        <constructor-arg name="loginFormUrl" value="/user/login"/>
    </bean>


    <!-- ############# 配置身份认证管理器 ############### -->
    <security:authentication-manager id="authenticationManager">
        <!-- 配置认证的提供者 -->
        <security:authentication-provider>
            <!-- 配置用户服务作为认证的提供者 -->
            <security:user-service>
                <!-- 配置用户信息 -->
                <security:user name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>