<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath*:props/*.properties"/>
    <!-- 导入MyBatis与Spring整合的配置文件(访问数据库) -->
    <import resource="classpath:applicationContext-mapper.xml"/>
    <!-- 导入Redis 的Spring 配置文件 -->
    <import resource="classpath:applicationContext-redis.xml"/>
    <!-- ########## 配置Dubbo服务提供者 ############ -->
    <!-- 配置当前应用的名称 -->
    <dubbo:application name="pinyougou-content-service"/>

    <!-- 使用zookeeper注册中心注册暴露的服务地址(调用url) -->
    <dubbo:registry address="zookeeper://192.168.12.131:2181" />

    <!-- 用dubbo协议在20881端口暴露服务
        dubbo://10.254.8.84:20881/com.pinyougou.service.BrandService?anyhost=true&
        application=pinyougou-sellergoods-service&dubbo=2.5.7&generic=false&
        interface=com.pinyougou.service.BrandService&methods=findAll&pid=1952
        &revision=1.0-SNAPSHOT&side=provider×tamp=1550318771353
     -->
    <dubbo:protocol name="dubbo" port="20881"/>

    <!-- 采用包扫描的方式，声明需要暴露的服务接口 -->
    <dubbo:annotation package="com.pinyougou.content.service.impl"/>
</beans>